.bgred {
  background-color: #e2162f;
}
.bggreen {
  background-color: #5fb200;
}
.bgblue {
  background-color: #0085fb;
}
.header {
  position: relative;
  height: 105px;
  padding: 25px 0 20px 0;
}
.header h1 {
  position: absolute;
  top: 25px;
  left: 0;
  width: 171px;
  height: 61px;
  background: url(../images/logo.png);
}
.header h1 a {
  display: block;
  width: 171px;
  height: 61px;
  font-size: 0;
}

.search {
  position: absolute;
  left: 348px;
  top: 25px;
  width: 540px;
  height: 34px;
  border: 2px solid #b1191a;
}
.search input {
  float: left;
  padding-left: 10px;
  width: 454px;
  height: 30px;
}

.search button {
  float: right;
  width: 82px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  background-color: #b1191a;
  color: #fff;
}
.hotwords {
  position: absolute;
  top: 64px;
  left: 348px;
}
.hotwords a {
  margin: 0 12px;
  font-size: 12px;
}
/* 购物车 */
.shopcar {
  position: absolute;
  right: 20px;
  top: 25px;
  width: 140px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: 1px solid #dfdfdf;
  background-color: #f7f7f7;
}
.shopcar::before {
  content: "\f07a";
  font-family: "icomoon";
  color: #c81623;
  margin-right: 5px;
}
.shopcar::after {
  content: "\e909";
  font-family: "icomoon";
  margin-left: 10px;
}
.shopcar .count {
  position: absolute;
  top: -3px;
  left: 102px;
  height: 16px;
  padding: 0 5px;
  line-height: 16px;
  background-color: red;
  border-radius: 8px 8px 8px 0;
  color: #fff;
}
/* 服装城一行的导航 */
nav {
  width: 100%;
  height: 47px;
  border-bottom: 2px solid #b1191a;
}

nav .w h4 {
  float: left;
  width: 210px;
  height: 45px;
  margin-right: 15px;
  text-align: center;
  background-color: #b1191a;
  font: 400 16px/45px "Microsoft YaHei";
  color: #fff;
}
nav .w ul {
  float: left;
}
nav .w ul li {
  float: left;
  padding: 10px 25px;
}
nav .w ul li a {
  font-size: 16px;
}
/* 宣传图一行的导航栏 */
/* 左侧 */
.dropdown {
  position: relative;
  float: left;
  background-color: #c81623;
  width: 210px;
  height: 465px;
}
.dropdown li {
  height: 31px;
  line-height: 31px;
  padding-left: 10px;
}
.dropdown li a {
  font-size: 14px;
  color: #fff;
}
.dropdown li a span {
  font-family: "icomoon";
  position: absolute;
  top: center;
  right: 10px;
}
.dropdown li:hover {
  background-color: #fff;
}
.dropdown li:hover a {
  color: #c81623;
}
/* 中间 */
.banner {
  float: left;
  position: relative;
  margin: 10px 10px 0;
  width: 722px;
}
.banner img {
  width: 100%;
}
/* 右侧 */
/* 优惠信息 */
.navitems {
  float: left;
  width: 248px;
  margin: 10px 0 5px 0;
  border: 1px solid #e4e4e4;
  border-bottom: none;
  background-color: #fff;
}
.navitems h4 {
  padding: 0 15px;
  height: 33px;
  color: #333;
  font: 400 14px/33px "Microsoft YaHei";
  border-bottom: 1px dotted #e8e8e7;
}
.navitems h4 a {
  float: right;
  font-size: 12px;
}
.navitems .info {
  padding: 0 15px;
  height: 130px;
}
.navitems .info li {
  margin: 6px 0;
}
/* 今日推荐 */
.tuijian {
  margin-top: 10px;
}
.tuijian dt {
  float: left;
  width: 206px;
  height: 165px;
  padding: 30px;
  background-color: #5c5251;
  text-align: center;
}
.tuijian dt h4 {
  margin-top: 5px;
  color: #fff;
  font: 400 18px "Microsoft YaHei";
}
.tuijian dd {
  float: left;
  width: 248px;
  height: 165px;
  background-color: #ebebeb;
  padding: 20px;
  border-right: 1px solid #dddddd;
}
.tuijian dd .left {
  float: left;
}
.tuijian dd h4 {
  font-size: 16px;
  color: black;
}
.tuijian dd h5 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.tuijian dd h6 {
  margin-top: 22px;
  width: 60px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border-radius: 15px;
}
.tuijian dd img {
  float: right;
}
/* 猜你喜欢 */
.like .title-one {
  height: 40px;
  line-height: 40px;
}
.like .title-one h4 {
  float: left;
  font: 400 18px/40px "Microsoft YaHei";
}

.like .title-one a {
  float: right;
  font-size: 12px;
}
.like ul {
  border: 1px solid #ededed;
  width: calc(100% - 2px);
  padding-bottom: 10px;
}
.like li {
  float: left;
  text-align: center;
  width: 198px;
  height: 100%;
}
.like ul li .im {
  height: 150px;
  text-align: center;
  line-height: 150px;
}

.like ul li .intro {
  border-right: 1px solid #ededed;
}
.like ul li:last-child .intro {
  border: none;
}
/* 猜你喜欢结束 */
/*传智播客有趣区 */
.fasci .title-two {
  height: 40px;
  line-height: 40px;
}
.fasci .title-two > h4 {
  font: 400 18px/40px "Microsoft YaHei";
}
/* 传智播客左一 */
.cast {
  height: 405px;
}
.cast .cast-one {
  position: relative;
  float: left;
  width: 400px;
  height: 100%;
  padding: 23px 20px;
  background-color: #b8bddd;
}
.cast .cast-one h4 {
  font: 400 18px "Microsoft YaHei";
  color: #3b468d;
}
.cast .cast-one p {
  font: 400 16px "Microsoft YaHei";
  color: #3b468d;
}
.cast .cast-one img {
  position: absolute;
  right: 50px;
  bottom: 30px;
}
/* 传智播客左二 */
.cast .cast-two {
  float: left;
  width: 228px;
  height: 100%;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.cast .cast-two > h5 {
  width: 192px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  font: 700 14px/40px "Microsoft YaHei";
  border-bottom: 1px dashed #ededed;
}
.cast-two .daren {
  position: relative;
  width: 100%;
  height: 206px;
  border-bottom: 1px solid #ededed;
}
.cast-two .daren h4,
.cast-two .faxian h4 {
  font: 700 16px "Microsoft YaHei";
  margin-bottom: 10px;
}
.cast-two .daren p,
.cast-two .faxian p {
  font: 700 12px "Microsoft YaHei";
}
.cast-two .daren .daren-left {
  position: absolute;
  top: 70px;
  left: 10px;
}
.cast-two .daren .daren-right {
  position: absolute;
  right: 0;
  top: 30px;
}
.cast-two .faxian {
  position: relative;
  width: 100%;
  height: 158px;
}
.cast-two .faxian .faxian-left {
  position: absolute;
  top: 45px;
  left: 10px;
}
.cast-two .faxian .faxian-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* 传智播客左二--完成 */
/* 传智播客左三 */
.cast .cast-three {
  float: left;
  width: 405px;
  height: 100%;
  background-color: #f7f7f7;
  border: 1px solid #ededed;
}
.cast-three > h5 {
  width: 366px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  font: 700 14px/40px "Microsoft YaHei";
  border-bottom: 1px dashed #ededed;
}
.pinpai-one {
  position: relative;
  width: 100%;
  height: 206px;
  border-bottom: 1px solid #ededed;
}
.pinpai-one .pp-o-left {
  position: absolute;
  top: 70px;
  left: 10px;
}
.pinpai-one .pp-o-right {
  position: absolute;
  top: 35px;
  right: 0;
}
.pinpai-two,
.pinpai-three {
  position: relative;
  float: left;
  width: 201px;
  height: 158px;
}
.pinpai-two {
  border-right: 1px solid #ededed;
}
.pinpai-two .pp-t-left,
.pinpai-three .pp-th-left {
  position: absolute;
  top: 45px;
  left: 10px;
}
.pinpai-two .pp-t-right,
.pinpai-three .pp-th-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.cast .cast-four {
  float: left;
  width: 164px;
  height: 100%;
  border: 1px solid #ededed;
  border-left: none;
}
.cast .cast-four img {
  width: 100%;
}
/* 家用电器 */
.title-three,
.title-four {
  position: relative;
  height: 60px;
}
.title-three {
  border-bottom: 2px solid #c81623;
}
.title-three h4,
.title-four h4 {
  position: absolute;
  bottom: 8px;
  left: 0;
  font: 400 18px "Microsoft YaHei";
}
.title-three h4 {
  color: #c81623;
}

.title-three ul {
  position: absolute;
  bottom: 8px;
  right: 0;
}
.title-three ul li {
  float: left;
  height: 12px;
  line-height: 12px;
  padding: 0 15px;
  border-right: 1px solid #666666;
}
.title-three ul li:last-child {
  border: none;
}
/* 家用电器展示 */
.elec {
  height: 360px;
}
/* 家电左一 */
.elec .elec-one {
  float: left;
  width: 210px;
  height: 100%;
  background-color: #f9f9f9;
  text-align: center;
}
.elec .elec-one ul {
  margin: 0 auto;
}
.elec .elec-one ul li {
  float: left;
  margin-left: 10px;
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-bottom: 1px solid #ededed;
}
.elec .elec-one h4 {
  margin-top: 25px;
  font: 400 18px "Microsoft YaHei";
  color: #c81623;
}
.elec .elec-one p {
  margin-bottom: 25px;
  color: #c81623;
}
/* 家电左二 */
.elec .elec-two {
  float: left;
  width: 330px;
  height: 100%;
  padding: 38px 30px 0;
  text-align: center;
  background-color: #aed6d8;
}
.elec .elec-two h4 {
  font: 400 18px "Microsoft YaHei";
  text-align: left;
  color: #066c7d;
}
.elec .elec-two h5 {
  margin-bottom: 35px;
  font: 400 16px "Microsoft YaHei";
  color: #066c7d;
  text-align: left;
}
.elec-two ul {
  width: 45px;
  margin: 15px auto;
}
.elec-two ul li {
  float: left;
  width: 10px;
  margin-left: 7px;
  height: 10px;
  border-radius: 50%;
  background-color: #3e3e3e;
}
.elec-two ul li:first-child {
  margin-left: 0;
  background-color: #fff;
}
/* 家电左三 */
.elec-thr,
.elec-five {
  float: left;
  width: 220px;
  height: 100%;
}
.elec-thr h4,
.elec-five h4 {
  font: 400 16px "Microsoft YaHei";
}
.elec-thr p,
.elec-five p {
  font: 400 14px "Microsoft YaHei";
  color: red;
}
.elec-thr .elec-thr-top,
.elec-thr .elec-thr-bot,
.elec-five .elec-five-top,
.elec-five .elec-five-bot {
  padding: 20px 0 0 20px;
  position: relative;
  height: 50%;
  border-bottom: 1px solid #ededed;
}
.elec-thr .elec-thr-top img,
.elec-thr .elec-thr-bot img,
.elec-five .elec-five-top img,
.elec-five .elec-five-bot img {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* 家电左四 */
.elec-four {
  float: left;
  width: 220px;
  height: 100%;
  text-align: center;
  border: 1px solid #ededed;
}
.elec-four h4 {
  margin-top: 70px;
  font: 400 18px "Microsoft YaHei";
}
.elec-four p {
  margin-bottom: 80px;
  font: 400 16px "Microsoft YaHei";
  color: #a1a1a1;
}
.elec-five .elec-five-bot {
  border-right: 1px solid #ededed;
}
/* 合作品牌 */
.hezuo {
  margin: 10px auto;
}
/* 热门疯抢 */
.title-four h4 {
  color: #666666;
}
.remen ul {
  float: left;
  height: 284px;
  width: 896px;
}
.remen ul li {
  float: left;
  margin-left: -1px;
  margin-top: -1px;
  width: 220px;
  height: 50%;
  padding: 20px 10px;
  border: 1px solid #ededed;
}
.remen ul li img {
  float: left;
  margin-right: 5px;
}
.remen ul li p {
  text-align: left;
}
.remen ul li h4 {
  margin-top: 5px;
  text-align: left;
  font: 400 18px "Microsoft YaHei";
  color: red;
}
.remen ul li:first-child {
  width: 240px;
  height: calc(100% - 1px);
  padding: 40px 0 40px 30px;
}
.remen ul li:first-child img {
  float: none;
}
.remen ul li:first-child p {
  margin-top: 60px;
  text-align: left;
}
.remen ul li:first-child h4 {
  text-align: left;
  font: 400 18px "Microsoft YaHei";
  color: red;
}
.remen .pinglun {
  float: left;
  margin-left: -1px;
  margin-top: -1px;
  width: 300px;
  height: 283px;
  border: 1px solid #ededed;
}
.pinglun .pinglun-top,
.pinglun .pinglun-bot {
  position: relative;
  height: 50%;
  padding: 35px 10px 10px 20px;
}
.pinglun .pinglun-top .pl-t-l,
.pinglun .pinglun-bot .pl-b-l {
  position: absolute;
  left: 20px;
  top: 30%;
}
.pl-t-r,
.pl-b-r {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.pl-t-r span,
.pl-b-r span {
  vertical-align: middle;
}
.pl-t-r span,
.pl-b-r span {
  margin: 5px;
}
.pl-t-r p::before {
  position: absolute;
  right: 165px;
  bottom: 20px;
  content: "";
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border: 10px solid transparent;
  border-right-color: #f8f8f8;
}
.pl-b-r p::before {
  position: absolute;
  right: 165px;
  bottom: 25px;
  content: "";
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border: 10px solid transparent;
  border-right-color: #f8f8f8;
}
.pl-t-r p,
.pl-b-r p {
  padding: 5px;
  font-size: 14px;
  width: 165px;
  background-color: #f8f8f8;
}

/* 生活服务 */
.life_service {
  width: 100%;
}
.life_service li {
  float: left;
  width: 62px;
  height: 70px;
  text-align: center;
  border: 1px solid #e8e8e7;
  margin-left: -1px;
  margin-top: -1px;
}

.life_service li:nth-child(4n) {
  border-right: none;
}
.life_service h6 {
  font-family: "icomoon";
  color: red;
  font-size: 25px;
}
