.bgred {
  background-color: #e2162f;
}
.bggreen {
  background-color: #5fb200;
}
.bgblue {
  background-color: #0085fb;
}
.header {
  height: 105px;
  padding: 25px 0 20px 0;
}
.logo {
  float: left;
}
.logo .shu {
  margin: 0 14px;
}
.header_middle {
  float: left;
  margin: 0 110px 0 77px;
}
.search input {
  float: left;
  padding-left: 10px;
  width: 455px;
  height: 36px;
  border: 2px solid #b1191a;
  border-right: none;
}

.search a {
  float: left;
  width: 82px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  margin-left: -3px;
  font-size: 16px;
  color: #fff;
  background-color: #b1191a;
}
.hotwords li {
  float: left;
  padding: 8px 12px 0;
}
.hotwords li a {
  font-size: 12px;
}
/* 购物车 */
.shopcar {
  position: relative;
  float: right;
  width: 140px;
  height: 36px;
  margin-right: 60px;
  line-height: 36px;
  text-align: center;
  border: 1px solid #dfdfdf;
  background-color: #f7f7f7;
}

.shopcar .count {
  position: absolute;
  top: -3px;
  right: 10px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-color: red;
  border-radius: 8px 8px 8px 0;
  color: #fff;
}
/* 品优秒杀一行的导航 */
nav {
  width: 100%;
  height: 44px;
  border-bottom: 2px solid #b1191a;
}

nav .w .miaosha {
  font: 700 16px "Microsoft YaHei";
  padding-right: 23px;
  color: #000000;
}
nav .w ul li {
  float: left;
  font: 400 14px "Microsoft YaHei";
  padding: 10px 22px;
}
nav .w ul li span {
  font-family: "icomoon";
}
/* 宣传图一行的导航栏完毕 */
/* 女鞋标题 */
.title-xie {
  width: 1200px;
  height: 120px;
  background: url("../images/beijing.png") no-repeat center;
  overflow: hidden;
}
.nvxie {
  width: 100px;
  text-align: center;
  margin: 26px auto 20px;
}
.nvxie span {
  margin-left: 10px;
  vertical-align: middle;
  font: 700 24px "Microsoft YaHei";
  color: #c81523;
}
.qianggou {
  width: 230px;
  margin: 0 auto;
  text-align: center;
}
.qianggou span {
  margin: 0 20px;
  vertical-align: middle;
  font: 400 16px "Microsoft YaHei";
  color: #000000;
}
/* 列表已购 */

.list .list-phone li {
  float: left;
  margin-right: 13px;
  margin-top: 10px;
  position: relative;
  width: 290px;
  height: 460px;
  border: 1px solid transparent;
  /* background-color: skyblue; */
}
.list .list-phone li:nth-child(4n) {
  margin-right: 0;
}
.list .list-phone li:hover {
  border: 1px solid red;
}
.list .list-phone li .im {
  width: 100%;
  text-align: center;
}
.list .list-phone li > p {
  padding: 15px 10px;
  font: 400 14px "宋体";
  color: #666;
}
.list .list-phone li h4 {
  padding: 0 10px;
  font-size: 22px;
  color: red;
}
.list .list-phone li h4 span {
  font-size: 14px;
}
.list .list-phone li h4 del {
  font-size: 14px;
  color: #a4a4a4;
}
.list .list-phone li .yishou {
  width: 100%;
  padding: 0 10px;
}
.list .list-phone li .yishou p {
  float: left;
}
.list .list-phone li .zongshu {
  float: left;
  margin: 2px 10px;
  width: 133px;
  height: 14px;
  border: 1px solid red;
  border-radius: 15px;
}
.list .list-phone li .zongshu .yigou {
  width: 90%;
  height: 100%;
  background-color: red;
  transition: width 0.2s ease 0s;
}
.list .list-phone li .zongshu .yigou:hover {
  width: 100%;
}
.list .list-phone li .lijiqianggou {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #b1191a;
  font: 400 20px/50px "宋体";
  text-align: center;
  color: #fff;
}
